<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSKO</title>
    <link rel="icon" href="{{url_for('static',filename='icon/IMG_20240622_073022.jpg')}}">
    {%include 'link.html'%}
    <nav class="navbar bg-primary py-3 sticky-top">
        <div class="container ">
            <div class="navbar-header">
                <a href="{{url_for('home')}}" class="navbar-brand text-dark h3">TRADITIONAL SHOTOKAN KARATE DO ORGANIZATION</a>
            </div>
            <ul class="nav">
                <li><a href="{{url_for('home')}}" class="text-dark px-2 text-decoration-none " ><i class="fa fa-home"></i> HOME</a></li>
                <li><a href="{{url_for('login')}}" class="text-dark px-2 text-decoration-none "><i class="fa fa-users"></i> USER</a></li>
                <li><a href="{{url_for('admin_login')}}" class="text-dark px-2 text-decoration-none "><i class="fa fa-user"></i> ADMIN</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <div class="container">
        <form action="/create" method="post">
            <div class="offset-md-4 col-md-5 mt-5 p-3" style="border-radius: 5px; border-color: black; border-width: 1px; border-style: solid; box-shadow:5px 5px 10px;">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category,message in messages %}
                            <div class="alert alert-{{category}}">{{message}}</div>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
                <div class="form-group py-2">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name" required autocomplete="off" placeholder="Name">
                </div>
                <div class="form-group py-2">
                    <label>Age</label>
                    <input class="form-control" type="number" name="age" required autocomplete="off" placeholder="Age">
                </div>
                <div class="form-group py-2">
                    <label>Gender</label>
                    <input class="form-control" type="text" name="gender" required autocomplete="off" placeholder="male or female">
                </div>
                <div class="form-group py-2">
                    <label>Date of Birth</label>
                    <input class="form-control" type="date" name="date" required autocomplete="off">
                </div>
                <div class="form-group py-2">
                    <label>Address</label>
                    <textarea class="form-control" type="text" name="address" required autocomplete="off" placeholder="Address with Father Name"></textarea>
                </div>
                <div class="form-group py-2">
                    <label>Branch</label>
                    <select class="form-control" name="branch">
                        {% for data in branch %}
                            <option>{{data['branch']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group py-2">
                    <label>Aadhar</label>
                    <input class="form-control" type="number" name="aadhar" required autocomplete="off" placeholder="Aadhar Number">
                </div>
                <div class="form-group py-2">
                    <label>Email</label>
                    <input class="form-control" type="email" name="email" required autocomplete="off" placeholder="Email">
                </div>
                <div class="form-group py-2">
                    <label>Mobil</label>
                    <input class="form-control" type="number" name="mobil" required autocomplete="off" placeholder="Mobil Number">
                </div>
                <div class="form-group py-2">
                    <label>User Name</label>
                    <input class="form-control" type="text" name="uname" required autocomplete="off" placeholder="User Name">
                </div>
                <div class="form-group py-2">
                    <label>Password</label>
                    <input class="form-control" type="password" name="pass" required autocomplete="off" placeholder="Password">
                </div>
                <div class="form-group row py-2">
                    <div class="col">
                        <button class="btn btn-success" type="submit" style="width: 85%;">Create</button>
                    </div>
                    <div class="col" style="text-align: end;">
                        <button class="btn btn-danger" type="reset" style="width: 85%;">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<footer style="margin-top: 150px;">
    {% include 'footer.html' %}
</footer>
</html>
<script>
    $(document).ready(function(){
});
</script>