<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery-3.7.1.js')}}"></script>
    <script src="{{url_for('static',filename='js/all.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body>

</body>
</html>